<form action="/board/update" method="post">
  제목</br>
  <input type="text" name="title" value="<%=@board.title%>"><br>
  내용</br>
  <textarea rows="4" cols="50" name="content"><%=@board.contente%></textarea>
  <input type="submit" value="Submit">
</form>